<body>






    <div id="bg">



        <ion-toolbar>
            <!-- <ion-buttons slot="end" >SKIP</ion-buttons> -->
        </ion-toolbar>

        <ion-slides pager>


            <ion-slide class="background">
                <img src="/assets/images/new logo.jpg">
                <div>
                    <h1><b><i>SCC</i></b></h1>
                    <h5><b>
                      <i>
                        Sakhasimbe Consientious Company(PTY)LTD
                      </i>
                    </b></h5>
                </div>


                <br>








            </ion-slide>




            <ion-slide>
                <div>
                    <img src="/assets/images/new logo.jpg" class="back-color">
                    <h1>Who Are We</h1>
                    <h6 class="color">For households and commersial,scc provides electrical wirering and ict related services. Fast and convenience </h6>

                    <ion-icon ios="ios-arrow-dropright-circle" (click)="skip()" class="order" md="md-arrow-dropright-circle"></ion-icon>

                </div>



                <!-- <img src="/assets/images/new logo.jpg"> -->







            </ion-slide>

            <!-- <ion-slide>


                <p>Delivering Your Home Necessary Repair</p>

            </ion-slide> -->

        </ion-slides>




    </div>



</body>