<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="tabs/services" (click)="clearData()"></ion-back-button>
        </ion-buttons>
        <ion-title>Service Details</ion-title>
    </ion-toolbar>
</ion-header>
<div class="ion-padding" *ngIf="run" style="position: relative;width: 100%;height: 100%;">

    <ion-skeleton-text animated style="position: absolute;width: 90%;height: 37%;top: 15px; margin-left: 5px;"></ion-skeleton-text>

    <h4>
        <ion-skeleton-text animated style="position: absolute;width: 90%;height: 5%;bottom: 210px;margin-top: 5px;"></ion-skeleton-text>
    </h4>
    <br><br>
    <h3>
        <ion-skeleton-text animated style="position: absolute;width: 90%;height: 5%;bottom: 160px;margin-top: 5px;"></ion-skeleton-text>
    </h3>

    <h3>
        <ion-skeleton-text animated style="position: absolute;width: 90%;height: 5%;bottom: 290px;margin-top: 5px;"></ion-skeleton-text>
    </h3>
</div>

<!-- <p>*ngIf="flag; else notShow"</p> -->
<ion-content>
    <div class="image_container">
        <img [src]="ServiceDetails?.photoURL" alt = "avatar"/>
        <h5>{{ServiceDetails?.name}} </h5>

        <nav>
            <h6>Description</h6>
            <p>{{ServiceDetails?.description}}</p>
        </nav>

        <nav>
            <ion-button expand="block" color="primary" (click)="request()" class="order">
                Request
            </ion-button>
        </nav>
    </div>

    <!-- <div *ngIf = "PlumbingServices?.length != 0" class = "image_container">
        <nav>
            <img [src] = "PlumbingServices?.photoURL" *ngIf = "PlumbingServices?.length != 0"/>
            <h5 *ngIf = "PlumbingServices?.length != 0">{{PlumbingServices?.name}}</h5>
        </nav>
    </div>
    
    <div *ngIf = "ArrayICTServices?.length != 0" class = "image_container">
        <nav>
            <img [src] = "ArrayICTServices?.photoURL" *ngIf = "ArrayICTServices?.length != 0"/>
            <h5 *ngIf = "ArrayICTServices?.length != 0">{{ArrayICTServices?.name}}</h5>
        </nav>

        <nav>
            <h6 *ngIf = "ArrayICTServices?.length != 0">Description</h6>
            <p *ngIf = "ArrayICTServices?.length != 0">{{ArrayICTServices?.description}}</p>
        </nav>
    </div> -->

    <div style = "margin-top: 60px;" class = "ion-padding">
        <!-- <ion-progress-bar value="0.25" buffer = "0.5"></ion-progress-bar> -->
        <h4>Ratings and reviews</h4>
        <ion-item>
            <ion-avatar slot="start">
              <!-- <img src="./avatar-finn.png"> -->
              <h1>{{Average_Ratings}}</h1>
            </ion-avatar>
            <ion-label>
              <h2>{{Average_Ratings}}</h2>
              <h3>I'm a big deal</h3>
              <p>{{countRatings}}</p>
            </ion-label>
          </ion-item>
    </div>
    <div style = "margin-top: 100px;">
        <h4 style = "padding-left: 20px;padding-right: 20px;">Comments</h4>
        <ion-item *ngFor = "let com of Comments_Array">
            <ion-avatar slot="start" style = "background-color: rgba(43, 160, 167, 0.8);
            text-align: center;padding: 0%;">
                <p style = "text-align: center; color: white;
                    margin: 28% auto; letter-spacing: -2px;">
                    {{first_Char}}
                    {{second_Char}}
                </p>
              <!-- <ion-icon name="person" style = "width: 30px;height: 30px;border: 1px solid black;border-radius: 50px;padding: 7px;"></ion-icon> -->
            </ion-avatar>

            <ion-label>
                <h2>{{com?.name}} {{com?.surname}}</h2>
                <h2>{{com?.email}}</h2>

              <ion-row >
                <!-- <ion-col>
                    <span>{{com?.date}}</span>
                </ion-col>
                  <ion-col size="1" id="rates" *ngFor="let i of specAvarageRates(rate.rate).fill(1)">
                      <ion-icon name="star" color="secondary"></ion-icon>
                  </ion-col> -->
                  <nav>
                    <ionic4-star-rating
                        activeIcon = "ios-star"
                        defaultIcon = "ios-star-outline"
                        activeColor = "red" 
                        defaultColor = "#aaaaaa"
                        readonly="true"
                        fontSize = "15px"
                        rating = "{{com?.rate}}">
                    </ionic4-star-rating>
                  </nav>

                  <nav>
                    <p>{{com?.date}}</p>
                  </nav>
                </ion-row>
              <!-- <p>{{com?.date}}</p> -->
              <p>{{com?.comment}}</p>
            </ion-label>
          </ion-item>
    </div>
</ion-content>