<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/services"></ion-back-button>
  </ion-buttons>
    <ion-title>Service</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>



  <div class="image_container">


  </div>


<div class="ion-padding">

  <h5>Description</h5>

  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta sapiente eaque porro hic itaque nobis veniam in voluptatum possimus, aspernatur exercitationem sunt, voluptate ab culpa id. Iusto vero dolorum blanditiis.</p>

</div>

<ion-button expand="full" color="dark" (click)="request()" >Request</ion-button>





</ion-content>
