<ion-header>
  <ion-toolbar color="danger">
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/sign-in"></ion-back-button>
      </ion-buttons>
      <ion-title>Forgot Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="forgotpasswordForm" >
    <ion-item color="transparent" class="group">
        <ion-label position="floating">Enter Email</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>
    <div class="error" *ngIf="forgotpasswordForm.get('email').hasError('required') && forgotpasswordForm.get('email').touched">
        Please input your email
    </div>
    <div class="error" *ngIf="forgotpasswordForm.get('email').hasError('pattern') && forgotpasswordForm.get('email').touched">
        Email address invalid
    </div>
    <br>
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-button expand="block" color="primary" (click)="isForgotPassword = true">Cancel</ion-button>
            </ion-col>
            <ion-col>
                <ion-button expand="block" [disabled]="!forgotpasswordForm.valid" color="primary" (click)="reset()">Reset</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</form>
  <ion-button id="btn" expand="full" shape="round" color="dark" style="margin-top: 1vh;" (click)="resetPass()">Reset Password</ion-button>
</ion-content>