// .group {
//     padding-left: 10px;
//     padding-right: 15px;
//     color: black;
// }
.order {
    position: absolute;
    left: 18px;
    width: 90%;
    align-items: center;
}

// .forgot {
//     position: absolute;
//     top: 30%;
//     left: 0%;
//     width: 100%;
// }