<ion-content>
    <!-- <div>
        <img src="/assets/images/scc.jpg">
    </div>

    <h3 style="text-align: center;">Sign Up</h3>
<form [formGroup]="registrationform" (ngSubmit)="submit">
  <ion-item style="margin-top: 1vh;">
    <ion-label position="floating">
        Username
    </ion-label>
    <ion-input formControlName="Username" autocapitalize inputmode="text"></ion-input>
</ion-item>

<ion-item style="margin-top: 1vh;">
    <ion-label position="floating">
        Email
    </ion-label>
    <ion-input  formControlName="Email"></ion-input>
</ion-item>

<ion-item style="margin-top: 1vh;">
    <ion-label position="floating">
        Password
    </ion-label>
    <ion-input type="password" formControlName="password" ></ion-input>
</ion-item>

<ion-item style="margin-top: 1vh;">
    <ion-label position="floating">
        Confirm Password
    </ion-label>
    <ion-input type="Confirm Password" formControlName="Confirm Password"></ion-input>
</ion-item>
</form>
  
    <ion-button [disabled]="!register.valid" expand="full" shape="round" color="dark" (click)="singIn()">Sign up</ion-button> -->


    <ion-row>
        <ion-col text-center>
            <div id="logo">
                <img src="/assets/images/scc.jpg" alt="Avatar" class="imgC">
            </div>
            <form [formGroup]="register">
                <ion-item>
                    <ion-label position="floating">Name</ion-label>
                    <ion-input type="text" formControlName="name" required></ion-input>
                </ion-item>
                <div class="error" *ngIf="register.get('name').hasError('required') && register.get('name').touched">
                    Please input your name
                </div>
                <ion-item>
                    <ion-label position="floating">Surname</ion-label>
                    <ion-input type="text" formControlName="surname" required></ion-input>
                </ion-item>
                <div class="error" *ngIf="register.get('surname').hasError('required') && register.get('surname').touched">
                    Please input your Surname
                </div>
                <ion-item>
                    <ion-label position="floating">Contact Number</ion-label>
                    <ion-input type="text" formControlName="number" required></ion-input>
                </ion-item>
                <div class="error" *ngIf="register.get('number').hasError('required') && register.get('number').touched">
                    Please input your Number
                </div>

                <div class="error" *ngIf="register.get('name').hasError('minlength') && register.get('name').touched">
                    Minimum 10 characters
                </div>
                <div class="error" *ngIf="register.get('name').hasError('maxlength') && register.get('name').touched">
                    Maximum 10 characters
                </div>

                <ion-item>
                    <ion-label position="floating">Email</ion-label>
                    <ion-input type="email" formControlName="email"></ion-input>
                </ion-item>
                <div class="error" *ngIf="register.get('email').hasError('required') && register.get('email').touched">
                    Please input your email
                </div>
                <div class="error" *ngIf="register.get('email').hasError('pattern') && register.get('email').touched">
                    Email address invalid
                </div>

                <ion-item>
                    <ion-label position="floating">Password</ion-label>
                    <ion-input type="password" formControlName="password"></ion-input>
                </ion-item>
                <div class="error" *ngIf="register.get('password').hasError('required') && register.get('password').touched">
                    Please input your password
                </div>

                <div class="error" *ngIf="register.get('password').hasError('minlength') && register.get('password').touched">
                    Minimum 6 characters
                </div>

                <div class="error" *ngIf="register.get('password').hasError('maxlength') && register.get('password').touched">
                    Maximum 12 characters
                </div>

                <ion-item>
                    <ion-label position="floating">Confirm Password</ion-label>
                    <ion-input type="password" formControlName="cpassword"></ion-input>
                </ion-item>
<p id="pass"></p>
                <div class="error" *ngIf="register.get('cpassword').hasError('required') && register.get('cpassword').touched">
                    Please confirm you password
                </div>

                <div class="error" *ngIf="register.get('cpassword').hasError('minlength') && register.get('cpassword').touched">
                    Minimum 6 characters
                </div>

                <div class="error" *ngIf="register.get('cpassword').hasError('maxlength') && register.get('cpassword').touched">
                    Maximum 12 characters
                </div>

                <div class="error" *ngIf="register.get('cpassword').hasError('mustMatch') ">Passwords must match</div>
                <br>
                <ion-button [disabled]="!register.valid" expand="full" shape="round" color="dark" (click)="signUp()">Sign up</ion-button>
                <p>Already have Account? <a (click)="login()">Sign In</a></p>

            </form>
        </ion-col>
    </ion-row>


</ion-content>