<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start" style = "position: absolute;">
            <ion-back-button defaultHref="tabs/profile"></ion-back-button>
        </ion-buttons>
        <ion-title style = "text-align: center;">Contact Details</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <div id="logo" style = "text-align: center;">
        <img src="/assets/images/scc.jpg" alt="Avatar" class="imgC" width="70%">
    </div>

    <h6 padding>
        If you need to get hold of us here is our details:
    </h6>
    <ion-item lines = "none" color = "transparent">
        <ion-icon ios="ios-call" md="md-call"></ion-icon>
        <ion-label><span> 012 801 8323</span> </ion-label>
    </ion-item>

    <ion-item lines = "none" color = "transparent">
        <ion-icon ios="ios-phone-portrait" md="md-phone-portrait"></ion-icon>
        <ion-label><span>078 6684 178 / 079 4500 892</span></ion-label>
    </ion-item>

    <ion-item lines = "none" color = "transparent">
        <ion-icon ios="ios-mail" md="md-mail"></ion-icon>
        <ion-label><span>scc25@live.com / gsekhasimbe13@gmail.com </span> </ion-label>
    </ion-item>

    <ion-item lines = "none" color = "transparent">
        <ion-icon ios="ios-mail" md="md-mail"></ion-icon>
        <ion-label><span>gsekhasimbe13@gmail.com </span> </ion-label>
    </ion-item>


    <h5 padding>Social Media Accounts</h5>
    <ion-item lines = "none" color = "transparent">
        <ion-icon ios="logo-youtube" md="logo-youtube"></ion-icon>
        <ion-label><span>Sekhasimbe Consientious Company(PTY)LTD</span> </ion-label>
    </ion-item>

    <ion-item lines = "none" color = "transparent">
        <ion-icon ios="logo-linkedin" md="logo-linkedin"></ion-icon>
        <ion-label><span>SekhasimbeCC(PTY)LTD</span> </ion-label>
    </ion-item>

    <ion-item lines = "none" color = "transparent">
        <ion-icon ios="logo-twitter" md="logo-twitter"></ion-icon>
        <ion-label><span>@SekhasimbeLTD</span> </ion-label>
    </ion-item>

    <ion-item lines = "none" color = "transparent">
        <ion-icon ios="logo-facebook" md="logo-facebook"></ion-icon>
        <ion-label><span>SCC Sekhasimbe Consientious Company(PTY)LTD</span> </ion-label>
    </ion-item>

    <ion-item lines = "none" color = "transparent">
        <ion-icon ios="logo-instagram" md="logo-instagram"></ion-icon>
        <ion-label><span>sekhasimbecc_ptyltd</span> </ion-label>
    </ion-item>

    <ion-item lines = "none" color = "transparent">
        <ion-icon ios="logo-whatsapp" md="logo-whatsapp"></ion-icon>
        <ion-label><span>079 4500 892</span> </ion-label>
    </ion-item>

    <ion-item lines = "none" color = "transparent">
        <ion-icon ios="logo-pinterest" md="logo-pinterest"></ion-icon>
        <ion-label><span>SekhasimbeCC(PTY)LTD</span> </ion-label>
    </ion-item>
</ion-content>