<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="tabs/profile"></ion-back-button>
        </ion-buttons>
        <ion-title>Contact Details</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <h6 padding>
        If you need to get hold of us here is our details:
    </h6>
    <ion-item>
        <ion-icon ios="ios-phone-portrait" md="md-phone-portrait"></ion-icon>
        <ion-label><span> 012 801 8323</span> </ion-label>
    </ion-item>

    <ion-item>
        <ion-icon ios="ios-mail" md="md-mail"></ion-icon>
        <ion-label><span>scc25@live.com </span> </ion-label>
    </ion-item>
</ion-content>