<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="tabs/profile"></ion-back-button>
        </ion-buttons>

        <ion-title>history-details</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div>
        <ion-card mode = "ios">
            <ion-card-header>
                <ion-card-subtitle>{{HistoryInfo?.refNo}}</ion-card-subtitle>
                <ion-card-title>{{HistoryInfo?.service}}</ion-card-title>
                <p>{{HistoryInfo?.serviceCost}}</p>
            </ion-card-header>

            <ion-card-content>
                <p>{{HistoryInfo?.serviceDesc}}</p>
                <p style="float: right;">{{HistoryInfo?.date}}</p>
            </ion-card-content>
        </ion-card>
    </div>

    <div style = "text-align: center;">
        <nav>
            <span>Rate service</span>
        </nav>
        <nav>
            <ion-icon name="star-outline" style = "width: 26px; height: 26px;"></ion-icon>
            <!-- <ion-icon name="star"></ion-icon> -->

            <ion-icon name="star-outline" style = "width: 26px; height: 26px;"></ion-icon>
            <!-- <ion-icon name="star"></ion-icon> -->

            <ion-icon name="star-outline" style = "width: 26px; height: 26px;"></ion-icon>
            <!-- <ion-icon name="star"></ion-icon> -->

            <ion-icon name="star-outline" style = "width: 26px; height: 26px;"></ion-icon>
            <!-- <ion-icon name="star"></ion-icon> -->

            <ion-icon name="star-outline" style = "width: 26px; height: 26px;"></ion-icon>
            <!-- <ion-icon name="star"></ion-icon> -->
        </nav>
    </div>

    <div>
        <ion-item class = "ion-padding">
            <ion-label position="stacked">Comments</ion-label>
            <ion-textarea [(ngModel)] = "comments">
            </ion-textarea>
        </ion-item>

        <ion-button color="primary" class = "ion-padding" mode = "ios" (click) = "Comment(HistoryInfo?.serviceID,comments)">Success</ion-button>
    </div>

    <div>
        <ion-item>
            <ion-avatar slot="start">
              <!-- <img src="./avatar-han.png"> -->
              <ion-icon name="person" style = "width: 30px;height: 30px;border: 1px solid black;border-radius: 50px;padding: 7px;"></ion-icon>
            </ion-avatar>
            <ion-label>
              <h2>{{User_Info?.name}} {{User_Info?.surname}}</h2>
              <!-- <h3>Look, kid...</h3> -->
              <p>{{Comment_Array?.comment}}</p>
            </ion-label>
          </ion-item>
    </div>

</ion-content>