<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start" style = "position: absolute;">
            <ion-back-button defaultHref="tabs/profile"></ion-back-button>
        </ion-buttons>

        <ion-title style = "text-align: center;">history-details</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div>
        <ion-card mode = "ios">
            <ion-card-header>
                <ion-card-subtitle>{{HistoryInfo?.refNo}}</ion-card-subtitle>
                <ion-card-title>{{HistoryInfo?.serviceName}}</ion-card-title>
                <p>{{HistoryInfo?.serviceCost}}</p>
            </ion-card-header>

            <ion-card-content>
                <p>{{HistoryInfo?.serviceDesc}}</p>
                <p style="float: right;">{{HistoryInfo?.date}}</p>
            </ion-card-content>
        </ion-card>
    </div>

    <div>
        <nav class = "ion-padding">
            <span>Rate service</span>
            <p style = "font-size: 12px;">Tell us what you think</p>
        </nav>

        <!-- <nav>
            <ion-icon name="star-outline" style = "width: 26px; height: 26px;"></ion-icon>
            <ion-icon name="star-outline" style = "width: 26px; height: 26px;"></ion-icon>
            <ion-icon name="star-outline" style = "width: 26px; height: 26px;"></ion-icon>
            <ion-icon name="star-outline" style = "width: 26px; height: 26px;"></ion-icon>
            <ion-icon name="star-outline" style = "width: 26px; height: 26px;"></ion-icon>
        </nav> -->
    </div>

    <div style = "margin-top: 15px;" class = "ion-padding">
        <h4>Ratings and reviews</h4>
        <ion-item lines = "none" color = "none">
            <ion-avatar slot="start" style = "width: 30%;height: 30%;">
              <!-- <img src="./avatar-finn.png"> -->
              <h1 style = "font-size: 305%;">{{Average_Ratings}}</h1>
              <h6>{{countRatings}}</h6>
              <!-- <h3>{{countRatings}}</h3> -->
            </ion-avatar>
            <ion-label>

                <ion-grid slot = "start" style = "width: 100%;">
                        <ion-row>
                            <ion-col size = "1" style = "text-align: center;">
                                5
                            </ion-col>
                            <ion-col>
                                <ion-progress-bar style = "height: 13px;margin: 3px auto;border-radius: 3px;" value="{{ProgressBarValueFive}}" mode = "ios"></ion-progress-bar>
                            </ion-col>
                        </ion-row>
    
                        <ion-row>
                            <ion-col size = "1" style = "text-align: center;">
                                4
                            </ion-col>
                            <ion-col>
                                <ion-progress-bar style = "height: 13px;margin: 3px auto;border-radius: 3px;" value="{{ProgressBarValueFour}}" mode = "ios"></ion-progress-bar>
                            </ion-col>
                        </ion-row>

                        <ion-row>
                            <ion-col size = "1" style = "text-align: center;">
                                3
                            </ion-col>
                            <ion-col>
                                <ion-progress-bar style = "height: 13px;margin: 3px auto;border-radius: 3px;" value="{{ProgressBarValueThree}}" mode = "ios"></ion-progress-bar>
                            </ion-col>
                        </ion-row>

                        <ion-row>
                            <ion-col size = "1" style = "text-align: center;">
                                2
                            </ion-col>
                            <ion-col>
                                <ion-progress-bar style = "height: 13px;margin: 3px auto;border-radius: 3px;" value="{{ProgressBarValueTwo}}" mode = "ios"></ion-progress-bar>
                            </ion-col>
                        </ion-row>

                        <ion-row>
                            <ion-col size = "1" style = "text-align: center;">
                                1
                            </ion-col>
                            <ion-col>
                                <ion-progress-bar style = "height: 13px;margin: 3px auto;border-radius: 3px;" value="{{ProgressBarValueOne}}" mode = "ios"></ion-progress-bar>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                
            </ion-label>
          </ion-item>
    </div>

    <div style = "margin-top: 30px;background: transparent;">
        <h4 style = "padding-left: 20px;padding-right: 20px;">Comments <span style = "margin-left: 10px;">{{number_of_comments}}</span></h4>
        <ion-item *ngFor = "let com of Comment_Array" color = "none" lines = "inset">
            <ion-avatar slot="start" style = "background-color: rgba(43, 160, 167, 0.8);
            text-align: center;padding: 0%;">
                
              <h1 style = "text-align: center; color: white;margin: 10% auto;text-transform: uppercase;">{{com?.email | slice: 0:1 }}</h1>
            </ion-avatar>

            <ion-label>
              <h2>{{com?.email}}</h2>

              <ion-row >
                  <nav>
                    <ionic4-star-rating
                        activeIcon = "ios-star"
                        defaultIcon = "ios-star-outline"
                        activeColor = "red" 
                        defaultColor = "#aaaaaa"
                        readonly="true"
                        fontSize = "15px"
                        rating = "{{com?.rate}}">
                    </ionic4-star-rating>
                  </nav>

                  <nav>
                    <p>{{com?.date}}</p>
                  </nav>
                </ion-row>
              <!-- <p>{{com?.date}}</p> -->
              <p class="ion-text-wrap">{{com?.comment}}</p>
            </ion-label>

            <!-- <nav>
                <ion-icon name="thumbs-up" slot = "start"></ion-icon>
            </nav> -->
          </ion-item>

            <ion-infinite-scroll threshold="100px" (ionInfinite)="loadReviews($event)">
                <ion-infinite-scroll-content
                  loadingSpinner="bubbles"
                  loadingText="Loading more data...">
                </ion-infinite-scroll-content>
            </ion-infinite-scroll>
    </div>

</ion-content>