ion-content{

    --ion-background-color: lightgrey;

}


#indicator{

    width: 100%;
    height: 20px;
    background-color: green;

}

.card{

    margin-top: 20px;
 
    
    width: 100%;
    height: 300px;
    
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: #FFFF;

    h2{

        margin-left: 10px;
        margin-top: 10px;
    }

    p{
        margin-left: 10px;
        margin-top: 3px;
    }



}