<ion-content class="ion-padding">
    <!-- <ion-buttons slot="start">
        <ion-back-button defaultHref="tabs/profile"></ion-back-button>
    </ion-buttons> -->

    <br>
    <ion-row>

        <ion-col text-center>
            <div id="logo">
                <img src="/assets/images/scc.jpg" alt="Avatar" class="imgC" width="70%" style="position:absolute;left:15%;">
            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <h1><b>Sign in</b></h1>
            <form [formGroup]="loginForm" *ngIf="isForgotPassword" class="form" padding>
                <div class="shipping-card">
                    <ion-item color="transparent" class="group">
                        <ion-label position="floating">Email</ion-label>
                        <ion-input type="email" [(ngModel)]="email" formControlName="email" class="line"></ion-input>
                    </ion-item>
                    <div class="error" *ngIf="loginForm.get('email').hasError('required') && loginForm.get('email').touched">
                        Please input your email
                    </div>
                    <div class="error" *ngIf="loginForm.get('email').hasError('pattern') && loginForm.get('email').touched">
                        Email address invalid
                    </div>
                    <ion-item color="transparent" class="group">
                        <ion-label position="floating">Password</ion-label>
                        <ion-input type="password" [(ngModel)]="password" formControlName="password"></ion-input>
                    </ion-item>
                    <div class="error" *ngIf="loginForm.get('password').hasError('required') && loginForm.get('password').touched">
                        Please input your password
                    </div>
                    <div class="error" *ngIf="loginForm.get('password').hasError('minlength') && loginForm.get('password').touched">
                        Minimum 6 characters
                    </div>
                    <div class="error" *ngIf="loginForm.get('password').hasError('maxlength') && loginForm.get('password').touched">
                        Maximum 12 characters
                    </div>
                    <br>
                    <ion-button expand="block" color="primary" [disabled]="!loginForm.valid" (click)="signIn()" color="primary" style="margin-top: 1vh;" class="order">Sign In</ion-button>
                    <br>
                    <br>
                    <br>


                    <p>Forgot Password<a href="forgot-password"> click here</a></p>
                    <p>No account?<a [routerLink] = "['/sign-up']">click here</a></p>

                </div>
            </form>
            <form [formGroup]="forgotpasswordForm" *ngIf="!isForgotPassword">
                <ion-item color="transparent" class="group">
                    <ion-label position="floating">Enter Email</ion-label>
                    <ion-input type="email" formControlName="email"></ion-input>
                </ion-item>
                <div class="error" *ngIf="forgotpasswordForm.get('email').hasError('required') && forgotpasswordForm.get('email').touched">
                    Please input your email
                </div>
                <div class="error" *ngIf="forgotpasswordForm.get('email').hasError('pattern') && forgotpasswordForm.get('email').touched">
                    Email address invalid
                </div>
                <br>
                <ion-button expand="block" color="primary" (click)="reset()" class="order" [disabled]="!forgotpasswordForm.valid">Reset</ion-button>
                <!-- <ion-button expand="block" [disabled]="!forgotpasswordForm.valid" color="primary" (click)="reset()">Reset</ion-button> -->
                <!-- <ion-grid>
                    <ion-row>
                        <ion-col>
                            <ion-button expand="block" color="primary" (click)="isForgotPassword = true">Cancel</ion-button>
                        </ion-col>
                        <ion-col>
                            <ion-button expand="block" [disabled]="!forgotpasswordForm.valid" color="primary" (click)="reset()">Reset</ion-button>
                        </ion-col>
                    </ion-row>
                </ion-grid> -->
            </form>
        </ion-col>
    </ion-row>



</ion-content>