

<ion-content class="ion-padding">

  <h3>Sign In</h3>


  <p>Enter Profile Number And Password</p>

  <ion-item style="margin-top: 10vh;">

    <ion-label position="floating">
    Email
    </ion-label>

    <ion-input type="email"></ion-input>
  </ion-item>


  <ion-item style="margin-top: 10vh;">

    <ion-label position="floating">
      Password
    </ion-label>

    <ion-input type="password"></ion-input>
  </ion-item>



  <ion-button expand="full" shape="round" (click)="signIn()" color="dark">Sign In</ion-button>

</ion-content>
