<ion-header>
    <ion-toolbar color="primary" style = "text-align: center;">
        <ion-title>Account</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-list style = "background: transparent;">
        <ion-item color = "transparent" lines = "none" detail="true" (click)="Redirect()">
            Profile
        </ion-item>

        <ion-item color = "transparent" lines = "none" detail="true" (click)="contactInfo()">
            Contact Details
        </ion-item>

        <!-- <ion-item detail="true" (click)="history()">
            Transaction Historys
        </ion-item> -->

        <ion-item color = "transparent" lines = "none" detail="true" (click)="terms()">
            Terms & Conditions
        </ion-item>

        <ion-item color = "transparent" lines = "none" detail="true" (click)="HistoryRedirect()">
            History
        </ion-item>

        <ion-item color = "transparent" lines = "none" (click)="signOut()" *ngIf="results == 'true'">
            Log Out
        </ion-item>

    </ion-list>


</ion-content>