<ion-header>
    <ion-toolbar color="danger">
        <ion-title>Account</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item detail="true" (click)="Redirect()">
      Profile
    </ion-item>

        <ion-item detail="true" (click)="contactInfo()">
            Contact Details
        </ion-item>

        <ion-item detail="true" (click)="history()">
            Transaction History
        </ion-item>

        <ion-item detail="true" (click)="terms()">
            Terms & Conditions
        </ion-item>

        <ion-item detail = "true" (click) = "HistoryRedirect()">
            History
        </ion-item>

        <ion-item (click)="signOut()" *ngIf="results == 'true'">
            Log Out
        </ion-item>

    </ion-list>


</ion-content>