<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start" style ="position: absolute;">
            <ion-back-button defaultHref="service-detail"></ion-back-button>
        </ion-buttons>
        <ion-title style = "text-align: center;">Request</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content id="background" class="ion-padding">

    <!-- <div class="reference">

        <h5>Reference Number</h5>
        <p>{{ref}}</p>

    </div> -->
    <div id = "name">
        <h3>Selected Service</h3>
        <h4>Name</h4>
        <h5>{{name}}</h5>
        <h3>Description</h3>
        <p>{{descrp}}</p>
    </div>

    <div id = "more">

        <h3>Need more services</h3>
        <h6>Electrica & Metarial</h6>

        <ion-select multiple="true" cancelText="Dismiss" okText="Okay!" (ionChange) = "collect(services)" [(ngModel)]="run1">
            <ion-select-option *ngFor="let services of ArrayServices;" [value]="services.name">
                {{services.name}}
            </ion-select-option>
        </ion-select>

        <h6>Information Technology</h6>

        <ion-select multiple="true" cancelText="Dismiss" okText="Okay!" [(ngModel)]="runx">
            <ion-select-option *ngFor="let services of ArrayICTServices" [value]="services.name">{{services.name}}
            </ion-select-option>
        </ion-select>

        <h6>Plumbing</h6>

        <ion-select multiple="true" cancelText="Dismiss" okText="Okay!" [(ngModel)]="runp">
            <ion-select-option *ngFor="let services of ArrayPlumbingServices" [value]="services.name">{{services.name}}
            </ion-select-option>
        </ion-select>

    </div>

    <div id = "info">
        <ion-item *ngFor="let i of runx">
            <ul>
                <li>{{i}}</li>
            </ul>
        </ion-item>
    </div>

    <div id = "Address">
        <h3>Enter Address</h3>




        <ion-input type="text" (ionInput)="search($event)" (ionChange)="addressCheck($event)" [value]="selectedAddress" clearInput></ion-input>

        <div style="position: absolute; max-width: 90%; min-width: 90%; z-index: 999; " class="search">
            <ion-list lines="none" *ngIf="addresses.length > 0" color="lightb" style="background: var(--ion-item-background,var(--ion-background-color, rgb(119, 119, 119))); ">
                <ion-item *ngFor="let address of addresses ; let i=index" (click)="onSelect(address, i)" color="dark">
                    <ion-icon name="pin"></ion-icon>
                    <p class="searchv">{{ address}}</p>
                </ion-item>
            </ion-list>

        </div>
    </div>

    <div id = "date-time">

        <h3>Date & Time</h3>

        <ion-label>Date:</ion-label>
        <ion-datetime displayFormat = "YYYY-MM-DD" [min] = "day" [(ngModel)]="date"></ion-datetime>



        <ion-label>Time</ion-label>
        <ion-datetime displayFormat="HH:mm" [(ngModel)]="time"></ion-datetime>

    </div>
    <br>
    <ion-button expand="block" color="primary" (click)="submit()" class="order">Submit</ion-button>

</ion-content>