.background {
    background-color: white;
    .reference {
        background-color: #F6F1F1;
        color: black;
        h5 {
            padding: 10px;
        }
        p {
            padding: 20px;
        }
    }
    .name {
        background-color: #F6F1F1;
        color: black;
        h5 {
            padding: 10px;
        }
        h6 {
            padding: 10px;
        }
        p {
            padding: 20px;
        }
    }
    .more {
        background-color: #F6F1F1;
        color: black;
        h5 {
            padding: 10px;
        }
        h6 {
            padding: 10px;
        }
        p {
            padding: 20px;
        }
    }
    .info {
        background-color: #F6F1F1;
        color: black;
        h5 {
            padding: 10px;
        }
        h6 {
            padding: 10px;
        }
        p {
            padding: 20px;
        }
    }
    .Address {
        background-color: #F6F1F1;
        color: black;
        h5 {
            padding: 10px;
        }
        h6 {
            padding: 10px;
        }
        p {
            padding: 20px;
        }
    }
    .date-time {
        background-color: #F6F1F1;
        color: black;
        h5 {
            padding: 10px;
        }
        h6 {
            padding: 10px;
        }
        p {
            padding: 20px;
        }
    }
    .order {
        position: absolute;
        left: 5px;
        width: 95%;
    }
}