#background {
    background-color: white;
    .reference {
        background-color: #F6F1F1;
        color: black;
        h5 {
            padding: 10px;
        }
        p {
            padding: 20px;
        }
    }
    #name {
        background-color: transparent;
        border-bottom: 1px groove gray;
        border-width: thin;
        color: black;
        h5 {
            margin-left: 10px;
        }
        h6 {
            margin-left: 10px;
        }
        p {
            margin-left: 20px;
        }
        // p {
        //     padding: 20px;
        // }
    }
    #more {
        background-color: transparent;
        border-bottom: 1px groove gray;
        border-width: thin;
        color: black;
        h5 {
            margin-left: 10px;
        }
        h6 {
            margin-left: 10px;
        }
        p {
            margin-left: 20px;
        }
    }
    #info {
        background-color: transparent;
        border-bottom: 1px groove gray;
        border-width: thin;
        color: black;
        h5 {
            margin-left: 10px;
        }
        h6 {
            margin-left: 10px;
        }
        p {
            margin-left: 20px;
        }
    }
    #Address {
        background-color: transparent;
        border-bottom: 1px groove gray;
        border-width: thin;
        color: black;
        h5 {
            margin-left: 10px;
        }
        h6 {
            margin-left: 10px;
        }
        p {
            margin-left: 20px;
        }
    }
    #date-time {
        background-color: transparent;
        color: black;
        h5 {
            margin-left: 10px;
        }
        h6 {
            margin-left: 10px;
        }
        p {
            margin-left: 20px;
        }

        ion-label {
            margin-left: 20px;
        }
        ion-datetime {
            margin-left: 20px;
        }
    }
    .order {
        position: absolute;
        left: 5px;
        width: 95%;
    }
}