<ion-content class="ion-padding">


    <h3>Make Your Request</h3>

    <p>Lets assist you make your service Request<br> Where would you like to start?</p>






    <h5>Electrical & Materials</h5>
    <ion-card class="scrolling-wrapper-flexbox">
        <ion-card-header class="card" style="overflow:hidden;" (click)=" detail() " *ngFor="let services of ArrayServices " style="padding: 10px; ">
            <img src="/assets/images/transformers.jpg" style="width: 100%; height: 100%;" *ngIf="services.name == 'Process level control & security lightening'" />
            <img src="/assets/images/transformers.jpg" style="width: 100%; height: 100%;" *ngIf="services.name == 'Maintenance of transformers'" />
            <img src="/assets/images/earthing.jpg" style="width: 100%; height: 100%;" *ngIf="services.name == 'Electrin fencing & earthing'" />
            <img src="/assets/images/plumbing.jpg" style="width: 100%; height: 100%;" *ngIf="services.name == 'plumbing'" />
            <img src="/assets/images/transformers.jpg" style="width: 100%; height: 100%;" *ngIf="services.name == 'Regular load testing and balancing'" />
            <img src="/assets/images/transformers.jpg" style="width: 100%; height: 100%;" *ngIf="services.name == 'Installation of conduits and trunkin'" />
            <img src="/assets/images/transformers.jpg" style="width: 100%; height: 100%;" *ngIf="services.name == 'Routine testing of entire electrical installation'" />
            <h6 class="text ">{{services.name}}</h6>
        </ion-card-header>



        <!-- <div  class="card " *ngFor = "let services of ArrayServices ">
    
    
     
    
    
      
       
    
      </div>
    
      <div  class="card ">
    
    
    
       
      
       
    
      </div>
    
      <div  class="card ">
    

       
    
      </div> -->

    </ion-card>





    <h5>Information Technology</h5>


    <div class="scrolling-wrapper-flexbox ">

        <div class="card ">












        </div>


        <div class="card ">









        </div>

        <div class="card ">







        </div>

        <div class="card ">







        </div>

    </div>





</ion-content>