<ion-header>
    <ion-toolbar color="primary">
        <ion-title>Services</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="recently">
        <h5>Most viewed services</h5>
        <ion-card class="scrolling-wrapper-flexbox">
            <ion-card-header class="card" (click)=" detail(services.id) " *ngFor="let services of ArrayServices ">
                <img src="{{services.photoURL}}" alt="photos" class="images" />
                <span class="text"><b>{{services.name}}</b></span>
            </ion-card-header>
        </ion-card>

    </div>

    <div class="Electrical">

        <h5 padding>Electrical & Materials</h5>
        <ion-card class="scrolling-wrapper-flexbox">
            <ion-card-header class="card" style="overflow:hidden;" (click)=" detail(services.id) " *ngFor="let services of ArrayServices " style="padding: 0px; " [style.backgroundImage]="'url(' + services.photoURL + ')'" style="background-position: center;background-repeat: no-repeat; background-size: cover;">
                <div class="shade"></div>
                <div text-center class="card-title">
                    <span id="title">{{services.name}}</span>
                </div>
            </ion-card-header>
        </ion-card>
    </div>
    <div class="ICT" style="margin: 0px;">
        <h5 padding>Information Technology</h5>
        <ion-card class="scrolling-wrapper-flexbox">
            ​
            <ion-card-header class="card" style="overflow:hidden;" *ngFor="let services of ArrayICTServices" (click)="detail1(services.id)" style="padding: 0px; ">
                <img src="{{services.photoURL}}" alt="photos" />
                <span style="font-size: 15px;" class="text ">{{services.name}}</span><br> ​ ​
            </ion-card-header>
        </ion-card>
    </div>


    <ion-fab vertical="bottom" horizontal="center" slot="fixed" class="fab">
        <ion-fab-button>
            <ion-icon (click)="runs()" name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>