<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start" style = "position: absolute;">
            <ion-back-button defaultHref="tabs/profile" (click)="back()"></ion-back-button>
        </ion-buttons>
        <ion-title style = "text-align: center;">View Profile</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="main">
        <!-- <div class="profile-image"> -->
            <!-- <p style="text-align: center; font-weight: bold;">user profile</p> -->
            <!-- <div *ngIf="mainImage =='' ">
                <img src="/assets/img/1.jpg">
            </div>
            <div *ngIf="mainImage !='' ">
                <img data-src="{{mainImage}}">
            </div>
            <div class="image-upload">
                <label for="file-input">
                        <ion-icon name="camera" class="input" color="primary"  > </ion-icon>
                    </label>
                <input id="file-input" class="input" type="file" (change)="uploadFile($event)" accept="image/x-png,image/gif,image/jpeg" />
            </div> -->
        <!-- </div> -->

        <div style = "text-align: center;">
            <ion-icon ios="ios-person" color = "primary" md="md-person" 
            style = "margin-top: 50px;width: 100px;height: 100px;background-color: rgba(0, 0, 0, 0.8);border-radius: 60px;padding: 10px;"></ion-icon>
        </div>
        <!-- position: absolute; -->
        <ion-item class="username" color = "none" lines = "none">
            <!-- <ion-icon name="person" style="left: 0px;"></ion-icon> -->
            <ion-label style="text-align: center; text-transform: uppercase;">{{UserProfile?.name}} {{UserProfile?.surname}}</ion-label>

            <ion-icon ios="ios-create" md="md-create" (click)="UpdateNamesModal(UserProfile)" style="position:absolute;right:0px;"></ion-icon>

        </ion-item>
        <div class="userdetails">
            <ion-item lines = "none" color = "transparent">
                <ion-icon name="mail" style="margin-right: 15px;"></ion-icon>
                <ion-label>
                    <h2>EMAIL</h2>
                    <h3>{{UserProfile?.email}}</h3>
                </ion-label>
                <ion-icon ios="ios-create" md="md-create" (click)="UpdateEmailModal(UserProfile)" color="primary"></ion-icon>
            </ion-item>

            <ion-item lines = "none" color = "transparent">
                <ion-icon name="call" style="margin-right: 15px;"></ion-icon>
                <ion-label>
                    <h2>CELLPHONE</h2>
                    <h4>{{UserProfile?.number}}</h4>
                </ion-label>
                <ion-icon ios="ios-create" md="md-create" (click)="UpdateContractsModal(UserProfile)" color="primary"></ion-icon>

            </ion-item>

        </div>
    </div>

    <div style="text-align: center; margin-top: 50px;" class = "ion-padding">
        <ion-button expand="full" shape="round" color="primary" (click)="deleteAccount()">Delete Account</ion-button>
    </div>
</ion-content>