<!-- <ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="tabs/profile" (click)="back()"></ion-back-button>
        </ion-buttons>
        <ion-title>View Profile</ion-title>
    </ion-toolbar>
</ion-header> -->

<ion-content>
    <div class="main">
        <div class="background">
            <ion-buttons slot="start" class="button">
                <ion-back-button defaultHref="tabs/profile" (click)="back()"></ion-back-button>
            </ion-buttons>
            <input type="file" (change)="filechanged($vent)" />
        </div>
        <ion-card class="username">
            <ion-icon name="person" style="margin-right: 15px;"></ion-icon>
            <ion-label style="position: absolute;top:10px;">{{UserProfile?.name}} {{UserProfile?.surname}}</ion-label>

            <ion-icon ios="ios-create" md="md-create" (click)="UpdateNamesModal(UserProfile)"></ion-icon>

        </ion-card>
        <div class="userdetails">
            <ion-item>
                <ion-icon name="mail" style="margin-right: 15px;"></ion-icon>
                <ion-label>
                    {{UserProfile?.email}}
                </ion-label>
                <ion-icon ios="ios-create" md="md-create" (click)="UpdateEmailModal(UserProfile)"></ion-icon>
            </ion-item>

            <ion-item>
                <ion-icon name="mail" style="margin-right: 15px;"></ion-icon>
                <ion-label>
                    {{UserProfile?.email}}
                </ion-label>
                <ion-icon ios="ios-create" md="md-create" (click)="UpdateEmailModal(UserProfile)"></ion-icon>
            </ion-item>

            <ion-item>
                <ion-icon name="call" style="margin-right: 15px;"></ion-icon>
                <ion-label>
                    {{UserProfile?.number}}
                </ion-label>
                <ion-icon ios="ios-create" md="md-create" (click)="UpdateContractsModal(UserProfile)"></ion-icon>

            </ion-item>

        </div>
    </div>
    <!-- <ion-list>
        <ion-item>
            <ion-icon name="person" style="margin-right: 15px;"></ion-icon>
            <ion-label>
                {{UserProfile?.name}} {{UserProfile?.surname}}
            </ion-label>
            <ion-icon ios="ios-create" md="md-create" (click)="UpdateNamesModal(UserProfile)"></ion-icon>
        </ion-item>

        <ion-item>
            <ion-icon name="mail" style="margin-right: 15px;"></ion-icon>
            <ion-label>
                {{UserProfile?.email}}
            </ion-label>
            <ion-icon ios="ios-create" md="md-create" (click)="UpdateEmailModal(UserProfile)"></ion-icon>
        </ion-item>

        <ion-item>
            <ion-icon name="call" style="margin-right: 15px;"></ion-icon>
            <ion-label>
                {{UserProfile?.number}}
            </ion-label>
            <ion-icon ios="ios-create" md="md-create" (click)="UpdateContractsModal(UserProfile)"></ion-icon>

        </ion-item> -->

    <!-- </ion-item> -->

    <!-- <ion-item>
      <ion-label class="ion-text-wrap">
      Multiline text that should wrap when it is too long
      to fit on one line in the item.
      </ion-label>
    </ion-item> -->

    <!-- <ion-item>
      <ion-label class="ion-text-wrap">
        <ion-text color="primary">
          <h3>H3 Primary Title</h3>
        </ion-text>
        <p>Paragraph line 1</p>
        <ion-text color="secondary">
          <p>Paragraph line 2 secondary</p>
        </ion-text>
      </ion-label>
    </ion-item> -->

    <!-- </ion-list> -->

</ion-content>