<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="tabs/profile"></ion-back-button>
        </ion-buttons>
        <ion-title>Terms & Conditions</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="terms">
        <ion-card-header>
            <b>Our terms and conditions</b>
        </ion-card-header>
        <ion-card-content>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet est optio dicta eligendi ex libero repellat possimus, assumenda earum ipsam error obcaecati. Ipsam molestias delectus distinctio ea optio fuga adipisci!
            <br> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet est optio dicta eligendi ex libero repellat possimus, assumenda earum ipsam error obcaecati. Ipsam molestias delectus distinctio ea optio fuga adipisci!
            <br> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet est optio dicta eligendi ex libero repellat possimus, assumenda earum ipsam error obcaecati. Ipsam molestias delectus distinctio ea optio fuga adipisci!
            <br> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet est optio dicta eligendi ex libero repellat possimus, assumenda earum ipsam error obcaecati. Ipsam molestias delectus distinctio ea optio fuga adipisci!
        </ion-card-content>
        <ion-checkbox class="check"></ion-checkbox>
    </ion-card>
</ion-content>